body {
  margin: 0 auto 0 auto;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#container {
  display: flex;
  flex: 1;
}

#sidebar {
  background-color: yellow;
  flex: 0 0 12em;
  padding: 2px;
}

#title {
  margin-top: 0;
  font-size: 1.5em;
}

.hero-unit {
  font-size: 16px;
  background-color: #eee;
  padding: 20px;
  padding-bottom: 100px;
  flex: 1;
}

.hero-unit h1 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;
}

.grid {
  margin: auto;
}

.item {
  margin: 4px;
  width: 140px;
  background-color: silver;
  border-radius: 2px;
  padding: 4px;
  padding-bottom: 8px;
}

a {
  text-decoration: none;
  color: #000000;
}

h3 {
  margin: 0;
  font-size: 1em;
}

.editButton {
  position: absolute;
  bottom: 0px;
  left: 5px;
  cursor: pointer;
  display: none;
  font-size: 0.75em;
}

.deleteButton {
  position: absolute;
  bottom: 0px;
  right: 5px;
  cursor: pointer;
  display: none;
  font-size: 0.75em;
}

#signin {
  position: absolute;
  top: 10px;
  right: 10px;
}

#createBoard, #badBoard, #noBoard {
  display: none;
}

.content {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

