body {
  margin: 0 auto 0 auto;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 0 auto 0 auto;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
}

.hero-unit h1 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;
}

.grid {
  margin: auto;
}

.item {
  margin: auto;
  width: 200px;
  background-color: silver;
  border-radius: 2px;
  padding: 10px;
}
